.spot-cover { background-position:-780px 0px; }
.spot-cover.active { background-position:-780px -120px; }
.spot-oble { background-position:-780px 0px; }
.spot-oble.active { background-position:-780px -120px; }
.spot-theatre { background-position:-780px 0px; }
.spot-theatre.active { background-position:-780px -120px; }
.spot-checkpoint { background-position:-780px 0px; }
.spot-checkpoint.active { background-position:-780px -120px; }
.spot-katips { background-position:-780px 0px; }
.spot-katips.active { background-position:-780px -120px; }
.spot-centris { background-position:-780px 0px; }
.spot-centris.active { background-position:-780px -120px; }
.spot-cal { background-position:-780px 0px; }
.spot-cal.active { background-position:-780px -120px; }
.spot-fc-stop { background-position:-780px 0px; }
.spot-fc-stop.active { background-position:-780px -120px; }
.spot-music { background-position:-780px 0px; }
.spot-music.active { background-position:-780px -120px; }
.spot-cmc { background-position:-780px 0px; }
.spot-cmc.active { background-position:-780px -120px; }
.spot-as { background-position:-780px 0px; }
.spot-as.active { background-position:-780px -120px; }
.spot-cba { background-position:-780px 0px; }
.spot-cba.active { background-position:-780px -120px; }
.spot-se { background-position:-780px 0px; }
.spot-se.active { background-position:-780px -120px; }
.spot-solair { background-position:-780px 0px; }
.spot-solair.active { background-position:-780px -120px; }
.spot-ncpag { background-position:-780px 0px; }
.spot-ncpag.active { background-position:-780px -120px; }
.spot-law { background-position:-780px 0px; }
.spot-law.active { background-position:-780px -120px; }
.spot-law-center { background-position:-780px 0px; }
.spot-law-center.active { background-position:-780px -120px; }
.spot-physics { background-position:-780px 0px; }
.spot-physics.active { background-position:-780px -120px; }
.spot-math { background-position:-780px 0px; }
.spot-math.active { background-position:-780px -120px; }
.spot-chem { background-position:-780px 0px; }
.spot-chem.active { background-position:-780px -120px; }
.spot-che { background-position:-780px 0px; }
.spot-che.active { background-position:-780px -120px; }
.spot-bio { background-position:-780px 0px; }
.spot-bio.active { background-position:-780px -120px; }
.spot-nigs { background-position:-780px 0px; }
.spot-nigs.active { background-position:-780px -120px; }
.spot-arki { background-position:-780px 0px; }
.spot-arki.active { background-position:-780px -120px; }
.spot-engg { background-position:-780px 0px; }
.spot-engg.active { background-position:-780px -120px; }
.spot-smn { background-position:-780px 0px; }
.spot-smn.active { background-position:-780px -120px; }
.spot-philcoa { background-position:-780px 0px; }
.spot-philcoa.active { background-position:-780px -120px; }
.spot-marikina { background-position:-780px 0px; }
.spot-marikina.active { background-position:-780px -120px; }
.spot-lrt2 { background-position:-780px 0px; }
.spot-lrt2.active { background-position:-780px -120px; }
.spot-fairview { background-position:-780px 0px; }
.spot-fairview.active { background-position:-780px -120px; }
.spot-che-bridge { background-position:-780px 0px; }
.spot-che-bridge.active { background-position:-780px -120px; }
.spot-ilangilang { background-position:-780px 0px; }
.spot-ilangilang.active { background-position:-780px -120px; }
.spot-sunken { background-position:-780px 0px; }
.spot-sunken.active { background-position:-780px -120px; }
.spot-chapel { background-position:-780px 0px; }
.spot-chapel.active { background-position:-780px -120px; }
.spot-infirmary { background-position:-780px 0px; }
.spot-infirmary.active { background-position:-780px -120px; }
.spot-sc { background-position:-780px 0px; }
.spot-sc.active { background-position:-780px -120px; }
.spot-kalay { background-position:-780px 0px; }
.spot-kalay.active { background-position:-780px -120px; }
.spot-romulo { background-position:-780px 0px; }
.spot-romulo.active { background-position:-780px -120px; }
.spot-gym { background-position:-780px 0px; }
.spot-gym.active { background-position:-780px -120px; }
.spot-gt-toyota { background-position:-780px 0px; }
.spot-gt-toyota.active { background-position:-780px -120px; }
.spot-issi { background-position:-780px 0px; }
.spot-issi.active { background-position:-780px -120px; }
.spot-surp { background-position:-780px 0px; }
.spot-surp.active { background-position:-780px -120px; }
.spot-area2 { background-position:-780px 0px; }
.spot-area2.active { background-position:-780px -120px; }
.spot-post-office { background-position:-780px 0px; }
.spot-post-office.active { background-position:-780px -120px; }
.spot-upis { background-position:-780px 0px; }
.spot-upis.active { background-position:-780px -120px; }
.spot-cs-lib { background-position:-780px 0px; }
.spot-cs-lib.active { background-position:-780px -120px; }
.spot-iesm { background-position:-780px 0px; }
.spot-iesm.active { background-position:-780px -120px; }
.spot-fa { background-position:-780px 0px; }
.spot-fa.active { background-position:-780px -120px; }
.spot-yakal { background-position:-780px 0px; }
.spot-yakal.active { background-position:-780px -120px; }
.spot-velasquez-gate { background-position:-780px 0px; }
.spot-velasquez-gate.active { background-position:-780px -120px; }
.spot-archery { background-position:-780px 0px; }
.spot-archery.active { background-position:-780px -120px; }
.spot-betaway { background-position:-780px 0px; }
.spot-betaway.active { background-position:-780px -120px; }
.spot-tennis-court { background-position:-780px 0px; }
.spot-tennis-court.active { background-position:-780px -120px; }
.spot-dmst-complex { background-position:-780px 0px; }
.spot-dmst-complex.active { background-position:-780px -120px; }
.spot-fi { background-position:-780px 0px; }
.spot-fi.active { background-position:-780px -120px; }
.spot-fc { background-position:-780px 0px; }
.spot-fc.active { background-position:-780px -120px; }
.spot-phan { background-position:-780px 0px; }
.spot-phan.active { background-position:-780px -120px; }
.spot-educ { background-position:-780px 0px; }
.spot-educ.active { background-position:-780px -120px; }
.spot-magsaysay-gate { background-position:-780px 0px; }
.spot-magsaysay-gate.active { background-position:-780px -120px; }
.spot-main-lib { background-position:-780px 0px; }
.spot-main-lib.active { background-position:-780px -120px; }
.spot-cswcd { background-position:-780px 0px; }
.spot-cswcd.active { background-position:-780px -120px; }
.spot-casaa { background-position:-780px 0px; }
.spot-casaa.active { background-position:-780px -120px; }
.spot-sci-complex { background-position:-780px 0px; }
.spot-sci-complex.active { background-position:-780px -120px; }
.spot-pagasa { background-position:-780px 0px; }
.spot-pagasa.active { background-position:-780px -120px; }
.spot-mbb { background-position:-780px 0px; }
.spot-mbb.active { background-position:-780px -120px; }
.spot-molave { background-position:-780px 0px; }
.spot-molave.active { background-position:-780px -120px; }
.spot-alumni-center { background-position:-780px 0px; }
.spot-alumni-center.active { background-position:-780px -120px; }
.spot-vargas { background-position:-780px 0px; }
.spot-vargas.active { background-position:-780px -120px; }
.spot-carillon { background-position:-780px 0px; }
.spot-carillon.active { background-position:-780px -120px; }
.spot-dance-studio { background-position:-780px 0px; }
.spot-dance-studio.active { background-position:-780px -120px; }
.spot-oldmbb { background-position:-780px 0px; }
.spot-oldmbb.active { background-position:-780px -120px; }
.spot-nsri { background-position:-780px 0px; }
.spot-nsri.active { background-position:-780px -120px; }
.spot-nec { background-position:-780px 0px; }
.spot-nec.active { background-position:-780px -120px; }
.spot-stat { background-position:-780px 0px; }
.spot-stat.active { background-position:-780px -120px; }
.spot-vanguard { background-position:-780px 0px; }
.spot-vanguard.active { background-position:-780px -120px; }
.spot-vinzons { background-position:-780px 0px; }
.spot-vinzons.active { background-position:-780px -120px; }
.spot-uave-jacinto { background-position:-780px 0px; }
.spot-uave-jacinto.active { background-position:-780px -120px; }
.spot-tba { background-position:-780px 0px; }
.spot-tba.active { background-position:-780px -120px; }
.spot-upcc { background-position:-780px 0px; }
.spot-upcc.active { background-position:-780px -120px; }
.spot-jacinto-gate { background-position:-780px 0px; }
.spot-jacinto-gate.active { background-position:-780px -120px; }
.spot-nismed { background-position:-780px 0px; }
.spot-nismed.active { background-position:-780px -120px; }
.spot-our { background-position:-780px 0px; }
.spot-our.active { background-position:-780px -120px; }
