.spot-as-shed { background-position:-130px 0px; }
.spot-as-shed.active { background-position:-130px -120px; }
.spot-vinzons-shed { background-position:-130px 0px; }
.spot-vinzons-shed.active { background-position:-130px -120px; }
.spot-econ-shed { background-position:-130px 0px; }
.spot-econ-shed.active { background-position:-130px -120px; }
.spot-romulo-shed { background-position:-130px 0px; }
.spot-romulo-shed.active { background-position:-130px -120px; }
.spot-engg-shed { background-position:-130px 0px; }
.spot-engg-shed.active { background-position:-130px -120px; }
.spot-gym-shed { background-position:-130px 0px; }
.spot-gym-shed.active { background-position:-130px -120px; }
.spot-arki-shed { background-position:-130px 0px; }
.spot-arki-shed.active { background-position:-130px -120px; }
.spot-nigs-shed { background-position:-130px 0px; }
.spot-nigs-shed.active { background-position:-130px -120px; }
.spot-gym-shed { background-position:-130px 0px; }
.spot-gym-shed.active { background-position:-130px -120px; }
.spot-jacinto-shed { background-position:-130px 0px; }
.spot-jacinto-shed.active { background-position:-130px -120px; }
.spot-coop-shed { background-position:-130px 0px; }
.spot-coop-shed.active { background-position:-130px -120px; }
.spot-phan-shed { background-position:-130px 0px; }
.spot-phan-shed.active { background-position:-130px -120px; }
.spot-music-shed { background-position:-130px 0px; }
.spot-music-shed.active { background-position:-130px -120px; }
